/* HEADER CSS */

.App-header {
    display: flex;
    align-items: center;
    color: #e01d3f;
    border-bottom: 3px solid #e01d3f;
    font-size: 22px;
}

.App-header img {
    width: 200px;
}